@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: normal;
  padding: 2.5%;
  margin-top: 2.5%;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.instructions {
  font-size: 1.75rem;
  color: rgb(75, 75, 75);
  text-align: center;
  display: block;
  margin: 0 auto 50px;
  width: 60%;
  min-width: 400px;
}

.form {
  width: 100%;
  display: flex;
  margin: 20px auto;
}

#search-field {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #000;
  flex: 9 1 0;
  padding-left: 15px;
}

.has-text {
  border-bottom: 1px solid #26a69a !important;
}

.btn {
  flex: 1 1 0;
  padding: 8px;
  margin-left: 25px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: lightgray;
}

.enabled {
  font-weight: bold;
  color: white;
  background-color: #26a69a;
}

.container {
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin-top: 60px;
}

.users,
.stats {
  width: 48%;
  min-height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 5%;
}

h2 {
  font-weight: normal;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.3rem;
  padding: 25px 0;
}

.users-list ul {
  list-style: none;
}

.stats-list ul {
  list-style: none;
  font-size: 1.125rem;
  margin-left: 20px;
  line-height: 2rem;
}

li {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.avatar {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.data {
  font-weight: bold;
}

.hidden-item {
  display: none;
}
